/* Shtoni këtë stil për butonat */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #2980b9;
}
/* Add this to your existing style.css file or create a new one */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    display: block;
    margin: 0 auto 10px;
}

h1 {
    margin: 0;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
    header {
        padding: 5px;
    }

    nav {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }
}
/* Shtoni këtë në stilin tuaj CSS ose në dosjen e veçantë CSS */
.button-container {
    display: flex;
    flex-direction: column; /* Ndryshon orientimin në vertikale */
    align-items: center; /* Qendron elementet në qendër horizontale */
    margin-top: 20px;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Vendos një zbraztirë poshtë butonit */
}

.styled-button:hover {
    background-color: #2980b9;
}

/* Stili për imazhin */
.button-container img {
    max-width: 100%; /* Sigurohuni që imazhi të mos tejkalojë dimensionet e prindit */
    margin-top: 10px; /* Vendos një zbraztirë lartë butonit */
}
